#Header {
    border-radius: 5px;
    /*max-height: 20%;*/
    background-color: #6699ff;
}

#Content {
    margin-bottom: -30px
}

#Footer {
    background-color: darkcyan;
    text-align: left;
}
#Footer.right {
    text-align: right;
}
#Footer.left{
    text-align: right;
}

#SignUpForm {
    margin-left: 100px;
}
#SignUpForm.label {
    font-size: 1.1em;
    padding-bottom: 8px
}

#SignUpForm {
    padding-bottom: 10px;
}

#Site-icon {
    width : auto;
    max-height: 130px;

}
#ArticleCardBody {
    background: url(/public/media/Images/gradientleft.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-transition: all 2s cubic-bezier(0.42,0,0.58,1);
    -moz-transition: all 2s cubic-bezier(0.42,0,0.58,1);
    -o-transition: all 2s cubic-bezier(0.42,0,0.58,1);
    transition: all 2s cubic-bezier(0.42,0,0.58,1);
}

#aboutBlog {
    font-size: x-small;
}
pre{
    white-space: pre-line;
}
#ArticleContent {
    white-space: pre-line;
}

.comment-footer {
    margin-bottom: -20px;
}
.img-icon{
    max-height: 50px;
    max-width: 75px;
}
