<div id="Blog" class="jumbotron mr-1 ml-1">
    <div class="container-fluid align-center row">
        <div class="col-10 ml-5">
            <div class="row card-header">
                <h3 class="col-8 text-monospace text-capitalize">
                    <?= $data[0] ?>
                </h3>
                <span class="form-inline col-4 align-right text-left">
                    <button class="btn btn-outline-info mr-md-2" data-toggle="collapse" data-target="#UpdateArticle" name="updateBlog"
                            type="submit" >
                        Update
                    </button>

                    <form class="form-inline" method="POST" action="/article/deleteArticle" onsubmit="return promptDelete()">
                        <button id="deleteArticle" class="btn btn-outline-danger" name="deleteArticle" value="<?= $data[5] ?>">
                            Delete
                        </button>
                    </form>
                </span>
                <div id="article" class="border align-right mt-3" >
                    <p class=" text-info alert-dark ">
                            Content :
                    </p>
                    <pre id="ArticleContent" >
                        <?= $data[1] ?>
                    </pre>
                </div>
            </div>
            <div>
                <div class="row mt-2">
                    <p id="aboutBlog" class="text-small text-justify col-5">
                        <span class="form-inline">Written By : <?= $data[2] ?></span>
                        <span class="form-inline">Created on : <?= $data[3] ?></span>
                        <span class="form-inline">Last modified on : <?= $data[4] ?></span>
                    </p>
                    <div class="col-6">
                        <img id="upVote" class="img-icon" src="../../public/media/Images/DOWN.png"
                             alt="public/media/Images/DOWN.png">
                        <span id="votes"></span>
                        <img id="downVote" class="img-icon" src="../../public/media/Images/DOWN.png"
                             alt="public/media/Images/DOWN.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse" id="UpdateArticle">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">
                    Updating Blog Article
                </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form class=form-inline method="POST" action="/article/updateArticle" onsubmit="return promptUpdate()">
                    <!--<input id="updateBlog" value="<?= $data[5] ?>" hidden>-->
                    <label for="update_article" class="card-header"><?= $data[0] ?></label>
                    <textarea id="update_article" class="form-control" name="article" rows="10" cols="300">
                        <?= $data[1] ?>
                    </textarea>
                    <div class="modal-footer">
                        <button class="btn btn-primary mr-md-2" value="<?= $data[5] ?>" name="updateBlog"
                        type="submit" >
                            Update
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="modal" id="addComment">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">
                        Add Comment
                    </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <form id="AddCommentForm" class=form-inline method="POST" action="/comment/addComment">
                        <input id="articleId" name="articleId" value="<?= $data[5] ?>"  hidden>
                        <textarea id="comment" name="comment" class="form-control" name="comment" rows="6" cols="200">
                        </textarea>
                        <div class="modal-footer">
                            <button id="AddCommentButton" class="btn btn-primary mr-md-2" name="ArticleId" value="<?= $data[5] ?>" type="submit" >
                                Comment
                            </button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>