

        <div class="card ">
            <div class="card">
                <div class="card-body card-text ">
                    <?= $data[0] ?>
                </div>
                <div class="card-footer ">
                    <div class=" text-small text-left">
                        <p>
                            Created by : <?= $data[1] ?> <br>
                            Created on : <?= $data[2] ?>
                        </p>
                    </div>
                </div>
            </div>
        </div>
