

        <div class="card ">
            <div class="card">
                <div class="card-body card-text ">
                    <pre id="ArticleContent" >
                        <?= $data[0] ?>
                    </pre>
                </div>
                <div class="comment-footer card-footer ">
                    <p id="aboutBlog" class="text-small text-justify col-8">
                        <span class=form-inline>
                            Created by : <?= $data[1] ?>
                        </span>
                        <span class=form-inline>
                            Created on : <?= $data[2] ?>
                        </span>
                    </p>
                </div>
            </div>
        </div>
